# Dependencias de Node.js
node_modules/

# Archivos de entorno
.env

# Archivos de configuración del sistema
.DS_Store
Thumbs.db

# Directorios de compilación
build/
dist/

# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales de tu editor de código
.vscode/
